/angular-reservas-cdu/nbproject/private/
CRUD_Escenarios/nbproject/build-impl.xml
CRUD_Escenarios/nbproject/build-impl.xml
CRUD_Escenarios/nbproject/build-impl.xml~
CRUD_Escenarios/nbproject/genfiles.properties
CRUD_Escenarios/nbproject/private/private.properties
