

/angular-reservas-cdu/nbproject/private/
CRUD_Escenarios/nbproject/build-impl.xml
CRUD_Escenarios/nbproject/build-impl.xml
CRUD_Escenarios/nbproject/build-impl.xml~
CRUD_Escenarios/nbproject/genfiles.properties
CRUD_Escenarios/nbproject/private/private.properties
CRUD_Escenarios/nbproject/project.xml
CRUD_Escenarios/nbproject/**

CRUD_Escenarios/nbproject/project.xml
CRUD_Escenarios/nbproject/project.xml
CRUD_Escenarios/nbproject/project.xml
CRUD_Escenarios/nbproject/project.properties
*.xml
CRUD_Escenarios/nbproject/private/private.xml
CRUD_Escenarios/nbproject/project.properties
*.xml
*.properties
CRUD_Escenarios/nbproject/build-impl.xml
*.xml
CRUD_Escenarios/nbproject/project.xml
CRUD_Escenarios/nbproject/build-impl.xml
CRUD_Escenarios/nbproject/genfiles.properties
CRUD_Escenarios/nbproject/project.xml
CRUD_Escenarios/nbproject/project.xml
