<div class="container">
  <h2>Validacion de Usuarios</h2>
  <hr>
  <table id="tblValidarUsuarios" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
      <thead>
          <tr>
              <th>Login</th>
              <th>Codigo</th>
              <th>Validar Usuario</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let usuario of usuarios;let i = index">
              <td>{{usuario.login}}</td>
              <td>{{usuario.codigo}}</td>
              <td>
                    <button type="button" (click)="verUsuario(usuario, 'Activo',i)" data-toggle="modal" data-target="#modalConfirmacion" class="btn btn-success"><i class="fa fa-plus"></i> Activo</button>
                    <button type="button" (click)="verUsuario(usuario, 'Inactivo',i)" data-toggle="modal" data-target="#modalConfirmacion" class="btn btn-danger"><i class="fa fa-plus"></i> Inactivo</button>
                   
              </td>
          </tr>
  </table>
</div>

<div class="modal fade" id="modalConfirmacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center" id="exampleModalLabel">Advertencia</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              ¿Realmente desea {{mensaje}} del Sistema?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary"  (click)="cambiarEstado()" data-dismiss="modal">Confirmar</button>

            </div>
          </div>
        </div>
      </div>